# It is recommended to use a virtual environment to install these packages.

# Hugging Face libraries
transformers
datasets
accelerate
huggingface_hub
# TRL for SFT and DPO
trl

# For efficient training
flash-attn

# For data handling
pyarrow

# For logging and monitoring
tensorboard
wandb
